{erl_opts, [debug_info]}.
{deps, []}.

{root_dir, "."}.
{checkouts_dir, "_checkouts"}.
{plugins_dir, "plugins"}.
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.
{cover_enabled, true}.

{deps, []}.

{relx, [
    {release, {erlang_tc, "0.1.0"}, [
      erlang_tc
    ]},
    {dev_mode, true},
    {include_src, false},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}, {include_erts, true}, {include_src, false}]},
        {pre_hooks, [
            {compile, "cargo build --release"},
            {compile, "sh -c \"cp $(cat so-path) priv/libnative.so\""}
        ]}
    ]},

    {test, [
        {erl_opts, [debug_info, warnings_as_errors, nowarn_export_all]},
        {relx, [{dev_mode, true}, {include_erts, false}, {include_src, false}]},
        {pre_hooks, [
            {compile, "cargo build --release"},
            {compile, "sh -c \"cp $(cat so-path) priv/libnative.so\""}
        ]}
    ]},

    {default, [
        {erl_opts, [debug_info, warnings_as_errors, nowarn_export_all]},
        {relx, [{dev_mode, true}, {include_erts, false}, {include_src, false}]},
        {pre_hooks, [
            {compile, "cargo build --release"},
            {compile, "sh -c \"cp $(cat so-path) priv/libnative.so\""}
        ]}
    ]}

]}.
