{minimum_otp_vsn, "20.1"}.

{base_dir, "_build"}.

{deps_dir, "lib"}.

{root_dir, "."}.

{checkouts_dir, "_checkouts"}.

{plugins_dir, "plugins"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
    {platform_define, "(linux|freebsd)", 'BACKLOG', 128}
]}.

{cover_enabled, true}.

{deps, []}.

{relx, [
    {release, {erlang_tc, "0.1.0"}, [
        erlang_tc
    ]},
    {dev_mode, true},
    {include_src, false},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"}
]}.

{pre_hooks, [
    {compile, "cargo build --release"},
    {compile, "sh -c \"cp $(cat so-path) priv/libnative.so\""}
]}.

{plugins, [
    %% covertool,
    {rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}},
    rebar3_hex
]}.
